# Python Crash Course

This notebook will cover the lecture that goes over the basic topics listed below:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

This lecture is to refresh on the basic or help those who have _some_ python knowledge on the same page. I will be skipping most of these, but included some notes and details that I find important for future reminders and references. 
____

### Tuples 

**Tuples** are just like _lists_, the difference being that tuples cannot be edited once created.

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

**Sets** are a collection of unique elements.

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

You can also pass a list into the `set()` function to get all the unique elements.

In [7]:
set([1,1,2,3,3,3,5,5,5,6,7,7,7,8,8])

{1, 2, 3, 5, 6, 7, 8}

NOTE: you can add elements to a set using the `.add()` method.

In [9]:
test_set = {1, 2, 3}
print(f'Original set: {test_set}')

test_set.add('x')
print(f'Edited set: {test_set}')

Original set: {1, 2, 3}
Edited set: {1, 2, 3, 'x'}

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

To simplify the process in the above block, we can just use **list comprehension** as shown below...

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## lambda expressions

Lambda expressions is a way to write an entire function into one line.

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

You can use the `map()` function to apply a funtion to a list/tuple/sequence.

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

Using just the `map()` fucntion doesn's prove useful. You have to translate the outcome into a list...

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True